<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css">
  <script defer src="/script.js"></script>
  <title>Folder</title>
</head>
<body>
  <div class="home-container">
    <header class="header">Folder Names</header>

    <div class="home-layout">
      <aside class="aside">
        <%- include("sidebarFolder"); %>
      </aside>

      <main class="main">
        <nav class="navFolders">
          <a href="/home"><%= currentUser.username %></a>
          <% if (folderPath) { %>
            <% folderPath.forEach((folder) => { %>
              <img class="next-pointer" src="/next-pointer.svg" alt="">
              <a href="/folder/<%= folder.id %>"><%= folder.name %></a>
            <% }) %>
          <% } %>
        </nav>
        <div class="foldersFiles">
          <!-- <% if (locals.results) {%>
            <div class="folder-container">
            </div>
          <%}%> -->
        </div>
      </main>
    </div>
    
  </div>

  <dialog class="newfolderModal" id="newfolderModal">
    <form action="/new-folder/<%= folderId %>" method="post">
      <label for="folderName" class="modal-message">New folder</label>
      <input type="text" id="folderName" name="folderName" value="new folder">
      <button type="button" class="cancelNewFolderBtn">Cancel</button>
      <input type="submit" value="Create" class="createBtn">
    </form>
  </dialog>

  <dialog class="uploadModal" id="uploadModal">
    <form action="/upload/<%= folderId %>" method="post" enctype="multipart/form-data">
      <label for="upload">Upload a file:</label>
      <input type="file" id="upload" name="upload">
      <button type="button" class="cancelUploadBtn">Cancel</button>
      <input type="submit" value="Upload">
    </form>
  </dialog>

  <!-- <dialog class="deleteModal" id="deleteModal">
    <form action="/delete/" method="post">
      <p class="deleteMessage">Are you sure you want to delete this?</p>
      <button type="button" class="cancelUploadBtn">Cancel</button>
      <input type="submit" value="Confirm">
    </form>
  </dialog> -->
</body>
</html>